transformers==4.46.0
vllm==0.6.1
openai
langchain
pypdf
markdownify
pathvalidate
puremagic
mammoth
python-pptx
pandas
pdfminer-six
youtube-transcript-api
serpapi
google-search-results
face-detection
pygments
paddlepaddle-gpu
paddleocr>=2.0.1
shortuuid
diffusers
accelerate
langchain_community
langchain_chroma
langchain_openai
omegaconf
tiktoken
git+https://github.com/facebookresearch/segment-anything-2.git
openpyxl
google-cloud-aiplatform>=1.38
ray[default]
vidgear
xlrd>=2.0.1
loguru